* {
    margin: 0;
    padding: 0;
}


.search-box {
    width: 800px;
    background: white;
    margin-top: 80px ;
    margin-left: 25%;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: o;
    font-size: 18px;
    color: black;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.result-box ul {
    border-top: 1px solid black;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.result-box ul li:hover {
    background-color: lightgrey;
}